.slider-custom-1{
    .slick{
        &-arrow{
            top: .85rem;
            z-index: 1;
            transform: translateY(0);
            width: 8px;
            height: 20px;
            &::before{
                display: none;
            }
        }
        &-prev{
            left: .75rem;
            background: url('../img/slick-prev.svg') no-repeat center center/contain;
        }
        &-next{
            right: .75rem;
            background: url('../img/slick-next.svg') no-repeat center center/contain;
        }
    }
}