// Fonts
$font-family-base: 'Kanit',
sans-serif;
$enable-responsive-font-sizes: true;

// Colors
$primary: #398ECA;
$secondary: #CCCCCC;
$success: #7BB731;
$warning: #EF6230;
$danger: #FF0000;
$light: #FCFCFC;
$dark: #393939;
$disable: #CCCCCC;

$body-bg: $light;
$nav-backdrop-bg: rgba(0, 47, 80, 0.73);
$offcanvas-bg: rgba(0, 47, 80, 0.73);

$primary-gd: transparent linear-gradient(180deg, #398ECA 0%, #0071C1 100%) 0% 0% no-repeat padding-box;

// Links
$link-hover-decoration: none;