.header{
    &-top{
        &-logo{
            img{
                height: 50px;
            }
        }
        .dropdown{
            &-toggle{
                &::after{
                    display: none;
                }
            }
            &-notice{
                position: relative;
                .badge{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &-profile{
                a{
                    display: inline-block;
                    img{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 10rem;
                        border: 1px solid $primary;
                    }
                }
            }
        }
    }
}