.main {
    margin-top: 66px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: hidden;

    @include media-breakpoint-up(lg) {
        margin-top: 107px;
    }

    @include media-breakpoint-up(xl) {
        margin-top: 114px;

        >.container-fluid {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}